{% extends 'base.html.twig' %}

{% block title %}Terminarz index{% endblock %}

{% block body %}
    <h1>Terminarz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Termin_rozpoczecia</th>
                <th>Termin_zakonczenia</th>
                <th>Klient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for terminarz in terminarzs %}
            <tr>
                <td>{{ terminarz.id }}</td>
                <td>{{ terminarz.terminRozpoczecia ? terminarz.terminRozpoczecia|date('Y-m-d') : '' }}</td>
                <td>{{ terminarz.terminZakonczenia ? terminarz.terminZakonczenia|date('Y-m-d') : '' }}</td>
                <td>{{ terminarz.klient }}</td>
                <td>
                    <a href="{{ path('terminarz_show', {'id': terminarz.id}) }}">show</a>
                    <a href="{{ path('terminarz_edit', {'id': terminarz.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('terminarz_new') }}">Create new</a>
{% endblock %}
