{% extends 'base.html.twig' %}

{% block title %}Terminarz{% endblock %}

{% block body %}
    <h1>Terminarz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ terminarz.id }}</td>
            </tr>
            <tr>
                <th>Termin_rozpoczecia</th>
                <td>{{ terminarz.terminRozpoczecia ? terminarz.terminRozpoczecia|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Termin_zakonczenia</th>
                <td>{{ terminarz.terminZakonczenia ? terminarz.terminZakonczenia|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Klient</th>
                <td>{{ terminarz.klient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('terminarz_index') }}">back to list</a>

    <a href="{{ path('terminarz_edit', {'id': terminarz.id}) }}">edit</a>

    {{ include('terminarz/_delete_form.html.twig') }}
{% endblock %}
